global
        maxconn 100
        log     127.0.0.1 local2

defaults
        log global
        mode tcp
        retries 2
        timeout client 30m
        timeout connect 4s
        timeout server 30m
        timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen consul
        bind :8500
        mode http
        server consul0 consul0:8500 check
        server consul1 consul1:8500 check
        server consul2 consul2:8500 check

frontend http_front
   bind *:80
   default_backend http_back

backend http_back
    balance roundrobin
    server-template nginx 1-2 _nginx._tcp.service.consul resolvers consul    resolve-opts allow-dup-ip resolve-prefer ipv4 check

resolvers consul
    nameserver consul0 consul0:8600
    nameserver consul1 consul1:8600
    nameserver consul2 consul2:8600
    accepted_payload_size 8192
    hold valid 5s